h1{
    color:blanchedalmond; 
    text-align: center;
}

.name{
    font-size: 50px;
    color:blanchedalmond;
    text-align: left;
    padding-left: 700px;
    margin-top: -200px;
   
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.fondo{
    background-image: url(css/fondo.jpg);
}

.header{
    border: 2px solid white;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

.info{
    border: 2px solid white;
    margin-bottom: 10px;
    width:500px ;
    margin-right: 100px;
    line-height: 30px;
}
.contenedor{
    border: 2px solid white;
    margin-bottom: 10px;
    margin-right: 100px;
    padding-right: -100px;
    width:500px ;
}

.contenedor1{
    border: 2px solid white;
    width:500px ;
    margin-bottom: 10px;
    line-height: 30px;
    
}

.foto{
    width:250px;
    margin: 2% 70%;
        
}

li{
    text-align: center;
    color: white;
}
p{
    color: white;
}

h2{
    color:aliceblue;
}

.sobre{
    margin-top: 10px;
    border: 2px solid white;
    text-align: center;
    font-size: large;
}

.hh{
    font-size: x-large;
    color:ghostwhite;
    text-align: left;
    padding-left: 550px;
}